Banque/Banque-ejb/dist/*
Banque/Banque-ejb/build/*
Banque/Banque-war/build/*
Banque/Banque-war/dist/*
Banque/dist/*
Banque/build/*
Banque/nbproject/private/*
Banque/Banque-ejb/nbproject/private/*
Banque/Banque-war/nbproject/private/*
